<html>
    <body>
        <form action="/">
            <label for="user">Last.fm user name:</label>
            <input type="text" name="user" id="user" />
            <input type="submit" />
        </form>
    </body>
</html>
